@import url(/style.css);
@import url(/components/color.css);

:root{
  --white-lightest:rgb(202, 197, 197);
}

.cart-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}

.cart-page {
  margin-top: 9rem;
  margin-bottom: 2rem;
}

.btn-cart {
  background-color: var(--pink-primary2);
  font-size: 1rem;
  height: 2rem;
}

.btn-cart:nth-of-type(2) {
  color: var(--pink-primary2);
  background-color: var(--white);
  border: 1.5px solid var(--pink-primary2);
}

.price-table {
  border: 1px solid color;
}

.btn-cart:nth-of-type(1):hover {
  background-color: var(--pink-primary1);
}

.btn-cart:nth-of-type(2):hover {
  background-color: var(--pink-light2);
}

.price-table-h th,
td,
tr {
  padding: 1rem;
  width: 14rem;
}

.price-table-h *,
.price-table-h {
  border-bottom: 1px solid var(--white-lightest);
}

.price-table-foot * {
  border-top: 2px solid var(--white-lightest);
}

table {
  border-collapse: collapse;
}

.btn-place-order {
  height: 2rem;
  width: 16rem;
  color: var(--white);
  background-color: var(--black);
  border: none;
  border-radius: 5px;
}

.btn-place-order:hover {
  background-color: var(--black-light);
}

.price-table {
  margin-right: 4rem;
  width: 16rem;
}

.header-nav {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}