<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cart-page.css">
    <script src="https://kit.fontawesome.com/9c98d67da5.js" crossorigin="anonymous"></script>
    <title>quartz</title>
</head>
<body>

    <header class="header-nav">
        <div class="navbar">

            <div class="logo">
                <h1><i class="fab fa-artstation"></i>Quartz</h1>
            </div>

            <nav class="nav">
                <ul class="nav-links">
                    <li><a href="/index.html">HOME</a></li>
                    <li><a href="/components/product-page/product-page.html">PRODUCTS</a></li>
                    <li><a href="/">ACCOUNT</a></li>
                    <li><a href="/"> <i class="fas fa-heart"></i></a></li>
                    <li><a href="/components/cart-page/cart-page.html"><i class="fas fa-shopping-bag"></i></a></li>
                </ul>
            </nav>

        </div>
    </header>

  
     <main class="cart-page">
         <section class="col-1"> 
             
         <div class="cart-item"> <div class="card card5 card7">
            <section class="img-container">
                    <img class="card-image" alt="card-image"
                        src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8dCUyMHNoaXJ0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60">
            </section>
            <section class="text-container">
                <div class="card-text card8-text">
                    <header>
                        <h3>T-shirt</h3><button class="rate-btn"><span>&#9733</span>4.5</button>
                    </header>
                    <div class="card-info">
                        <p>High comfort cotton</p>
                        <div class="price">Rs. 300
                            <span class="price-old">RS. 600</span>
                        </div>
                    </div>
                </div>
                
               <div class="cart-click-btns">  
                <button class="btn-cart">Remove from cart</button><br>
                <button class="btn-cart">Add to wishlist</button>
            </div> 

            <div class="cart-quantity-btns">
                <button class="cart-quantity">-</button>
                <span class="cart-quantity">2</span><button class="cart-quantity">+</button><br>
            </div>

            </section>
        </div> </div>

         <div class="cart-item"> <div class="card card5 card7">
            <section class="img-container">
                    <img class="card-image" alt="card-image"
                        src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8dCUyMHNoaXJ0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60">
            </section>
            <section class="text-container">
                <div class="card-text card8-text">
                    <header>
                        <h3>T-shirt</h3><button class="rate-btn"><span>&#9733</span>4.5</button>
                    </header>
                    <div class="card-info">
                        <p>High comfort cotton</p>
                        <div class="price">Rs. 300
                            <span class="price-old">RS. 600</span>
                        </div>
                    </div>
                </div>
                
               <div class="cart-click-btns">  
                <button class="btn-cart">Remove from cart</button><br>
                <button class="btn-cart">Add to wishlist</button>
            </div> 

            <div class="cart-quantity-btns">
                <button class="cart-quantity">-</button>
                <span class="cart-quantity">2</span><button class="cart-quantity">+</button><br>
            </div>

            </section>
        </div> </div>
         
         <div class="cart-item"> <div class="card card5 card7">
            <section class="img-container">
                    <img class="card-image" alt="card-image"
                        src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8dCUyMHNoaXJ0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60">
            </section>
            <section class="text-container">
                <div class="card-text card8-text">
                    <header>
                        <h3>T-shirt</h3><button class="rate-btn"><span>&#9733</span>4.5</button>
                    </header>
                    <div class="card-info">
                        <p>High comfort cotton</p>
                        <div class="price">Rs. 300
                            <span class="price-old">RS. 600</span>
                        </div>
                    </div>
                </div>
                
               <div class="cart-click-btns">  
                <button class="btn-cart">Remove from cart</button><br>
                <button class="btn-cart">Add to wishlist</button>
            </div> 

            <div class="cart-quantity-btns">
                <button class="cart-quantity">-</button>
                <span class="cart-quantity">2</span><button class="cart-quantity">+</button><br>
            </div>

            </section>
        </div> </div>
        
        </section>

         <section class="col-2">
    <div class="price-table">
            <table>
                <tr class="price-table-h">
                    <th>Price details</th>
                    <td></td>
                </tr>
                <tr>
                    <td>Price(3 items)</td>
                    <td>&#8377. 1300</td>
                </tr>
                <tr>
                    <td>GST </td>
                    <td>&#8377. 1389</td>
                </tr>
                <tr>
                    <td>Delivery</td>
                    <td>&#8377. 0</td>
                </tr>

                <tr class="price-table-foot">
                    <td>Total Price</td>
                    <td>&#8377. 1389</td>
                </tr>
            </table>
<button class="btn-place-order">Place Order</button>
            </div>
         </section>
     </main>


    <footer class="footer-home">

        <h2>Made by Juvita Saini with &#x2764;</h2>

    </footer>
    
</body>
</html>