<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="logout-page.css">
    <script src="https://kit.fontawesome.com/9c98d67da5.js" crossorigin="anonymous"></script>

    <title>Quartz Login</title>
</head>

<body>
    <header class="header-nav">
        <div class="navbar">

            <div class="logo">
                <h1><i class="fab fa-artstation"></i>Quartz</h1>
            </div>

            <nav class="nav">
                <ul class="nav-links">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/components/product-page/product-page.html">PRODUCTS</a></li>
                    <li><a href="/">ACCOUNT</a></li>
                    <li><a href="/components/wishlist-page/wishlist-page.html"> <i class="fas fa-heart"></i></a></li>
                    <li><a href="/components/cart-page/cart-page.html"><i class="fas fa-shopping-bag"></i></a></li>
                </ul>
            </nav>

        </div>
    </header>

    <main class="login-page-container">
        <div>
            <h1>Log out Succesful !</h1>
            <div class="login-bottom">
                <button>Log In</button>
        </div>
        
    </main>


    <footer class="footer-home">

        <h2>Made by Juvita Saini with &#x2764;</h2>

    </footer>

</body>

</html>